<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Daks Chat App</h1>

    <form class="form" id="Login">
        <h2 class="formTitle">Login</h2>

        <div class="formMessageFormMessageError">Incorrect Username or Password</div>
        <div class="form__input-group">
            <input type="text" class="formInput" autofocus placeholder="Username or Email" aria-label="Username">
            <div class="formInputErrorMessage"></div>
        </div>
        <div class="form__input-group">
            <input type="password" class="formInput" autofocus placeholder="Password" aria-label="Password">
            <div class="formInputErrorMessage"></div>
        </div>
        <button class="formButton">Submit</button>
        <p class="formText">
            <a href="#" class="formLink">Forget your password?</a>
        </p>
        <p class="formText">
            <a href="#" class="formLink">Create an account</a>
        </p>
    </form>

</body>

</html>