<form class="form" id="Login">
    <h1 class="formTitle">Login</h1>

    <div class="formMessageFormMessageError">Incorrect Username or Password</div>
    <div class="form__input-group">
        <input type="text" class="formInput" autofocus placeholder="Username or Email" aria-label="Username">
        <div class="formInputErrorMessage"></div>
    </div>
    <div class="form__input-group">
        <input type="password" class="formInput" autofocus placeholder="Password" aria-label="Password">
        <div class="formInputErrorMessage"></div>
    </div>
    <button class="formButton">Submit</button>
    <p class="formText">
        <a href="#" class="formLink">Forget your password?</a>
    </p>
    <p class="formText">
        <a href="#" class="formLink">Create an account</a>
    </p>
</form>